spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fitness?createDatabaseIfNotExist=true
    username: root
    password: 6830 # ??????
    #    password: 312808895 # ???
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      #      ddl-auto: validate #??????????????? ? ????????? ??, ?????? ??????
      #      ddl-auto: create #?????? ??????? ? ???????? ????? ?? ??? ?????? Spring
      #      ddl-auto: create-drop #?????? ??????? ? ???????? ????? ?? ??? ?????? Spring + ??????? ????? ?????????? Spring
      ddl-auto: update #?????????? ????????? ??

  jackson:
    serialization:
      indent-output: true
  jooq:
    sql-dialect: org.hibernate.dialect.MySQLDialect

server:
  port: 3881
  servlet:
    context-path: /fitness
