<!DOCTYPE html>
<html ng-app="fitness" lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Training Studio - Free CSS Template</title>
<!--      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
      <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

<!--      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>-->

<!--      <meta charset="UTF-8">-->
<!--      <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
      <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

<!--      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>-->
<!--      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>-->

      <!-- Angular-js -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>

      <!-- jQuery -->
      <script src="assets/js/jquery-2.1.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

      <!-- Bootstrap -->
      <script src="assets/js/popper.js"></script>
      <!--    <script src="assets/js/bootstrap.min.js"></script>-->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

      <!-- Plugins -->
      <script src="assets/js/scrollreveal.min.js"></script>
      <script src="assets/js/waypoints.min.js"></script>
      <script src="assets/js/jquery.counterup.min.js"></script>
      <script src="assets/js/imgfix.min.js"></script>
      <script src="assets/js/mixitup.js"></script>
      <script src="assets/js/accordions.js"></script>

      <!-- Global Init -->
      <script src="assets/js/custom.js"></script>

      <!-- Controller scripts -->
      <script src="assets/controllers/index.js"></script>
      <script src="assets/controllers/maintenance.js"></script>






    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-training-studio.css">

    </head>
    
    <body>
    <div ng-controller="indexController">
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
<!--                        <a href="index.html" class="logo">Training<em> Studio</em></a>-->
                        <a href="index.html"><img src="assets/images/logo.png" alt="ТРИ<em> Океана</em>" class="logo"></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Домашняя</a></li>
<!--                            <li class="scroll-to-section"><a href="#features">Услуги</a></li>-->
<!--                            <li class="scroll-to-section"><a href="#!maintenance">Услуги</a></li>-->
                            <li><a href="#!maintenance">Услуги</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Студии</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Расписание</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Контакты</a></li>
                            <li class="main-button"><a href="#" ng-show="!ifUserLoggedIn()" data-bs-toggle="modal" data-bs-target="#modalAuthentication">Войти</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Меню</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <ng-view></ng-view>

    <!-- ***** Main Banner Area Start ***** -->
<!--    <div class="main-banner" id="top">-->
<!--        <video autoplay muted loop id="bg-video">-->
<!--            <source src="assets/images/gym-video.mp4" type="video/mp4" />-->
<!--        </video>-->

<!--        <div class="video-overlay header-text">-->
<!--            <div class="caption">-->
<!--                <h6>работай усерднее, становись сильнее</h6>-->
<!--                <h3>работая над <em>собой</em> -</h3>-->
<!--                <h3>изменяешь <em>мир </em> вокруг себя</h3>-->
<!--                <div class="main-button scroll-to-section">-->
<!--                    <a href="#features">Перейти к услугам</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
<!--    <section class="section" id="features">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 offset-lg-3">-->
<!--                    <div class="section-heading">-->
<!--                        <h2>Наши <em>Услуги</em></h2>-->
<!--                        <img src="assets/images/line-dec.png" alt="waves">-->
<!--                        <p>Мы предлагаем 3 бассейна, 5 зон активных тренировок, тренажерный зал и многое другое:</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6">-->
<!--                    <ul class="features-items">-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/gum.png" style="height: 100px; width: 100px" alt="Gum">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Тренажерный зал, кардиотеатры</h4>-->
<!--&lt;!&ndash;                                <p></p>&ndash;&gt;-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/pool.png" style="height: 100px; width: 100px" alt="Swimming pool">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Бассейны</h4>-->
<!--&lt;!&ndash;                                <p>If you wish to support TemplateMo website via PayPal, please feel free to contact us. We appreciate it a lot.</p>&ndash;&gt;-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/group.png" style="height: 100px; width: 100px" alt="Group programs">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Групповые программы</h4>-->
<!--&lt;!&ndash;                                <p>Credit goes to <a rel="nofollow" href="https://www.pexels.com" target="_blank">Pexels website</a> for images and video background used in this HTML template.</p>&ndash;&gt;-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/personal.png" style="height: 100px; width: 100px" alt="Personal Training">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Персональные тренировки</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/spa.png" style="height: 100px; width: 100px" alt="Spa">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Массаж & Спа</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/bath.png" style="height: 100px; width: 100px" alt="Bath complex">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Банный комплекс</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/kids.png" style="height: 100px; width: 100px" alt="For kids">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Для детей</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="col-lg-6">-->
<!--                    <ul class="features-items">-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/test.png" style="height: 100px; width: 100px" alt="Fitness testing">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Фитнес тестирование</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/bar.png" style="height: 100px; width: 100px" alt="Fitness bar">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Фитнес-бар</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/kids_swimming_school.png" style="height: 100px; width: 100px" alt="Kids swimming school">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Детская школа плавания</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/water_aerobics.png" style="height: 100px; width: 100px" alt="Water aerobics">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Аква- аэробика</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/kids_room.png" style="height: 100px; width: 100px" alt="Kids room">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Детская комната</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/solarium.png" style="height: 100px; width: 100px" alt="Solarium">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Солярий</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="feature-item">-->
<!--                            <div class="left-icon">-->
<!--                                <img src="assets/images/services/tennis.png" style="height: 100px; width: 100px" alt="Tennis">-->
<!--                            </div>-->
<!--                            <div class="right-content">-->
<!--                                <h4>Теннисный корт</h4>-->
<!--                                <a href="#" class="text-button">Подробнее</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula, sit amet dapibus odio augue eget libero. Morbi tempus mauris a nisi luctus imperdiet.</p>
                        <div class="main-button scroll-to-section">
                            <a href="#our-classes">Become a member</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Our <em>Classes</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-1'><img src="assets/images/tabs-first-icon.png" alt="">First Training Class</a></li>
                  <li><a href='#tabs-2'><img src="assets/images/tabs-first-icon.png" alt="">Second Training Class</a></a></li>
                  <li><a href='#tabs-3'><img src="assets/images/tabs-first-icon.png" alt="">Third Training Class</a></a></li>
                  <li><a href='#tabs-4'><img src="assets/images/tabs-first-icon.png" alt="">Fourth Training Class</a></a></li>
                  <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-1'>
                    <img src="assets/images/training-image-01.jpg" alt="First Class">
                    <h4>First Training Class</h4>
                    <p>Phasellus convallis mauris sed elementum vulputate. Donec posuere leo sed dui eleifend hendrerit. Sed suscipit suscipit erat, sed vehicula ligula. Aliquam ut sem fermentum sem tincidunt lacinia gravida aliquam nunc. Morbi quis erat imperdiet, molestie nunc ut, accumsan diam.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-2'>
                    <img src="assets/images/training-image-02.jpg" alt="Second Training">
                    <h4>Second Training Class</h4>
                    <p>Integer dapibus, est vel dapibus mattis, sem mauris luctus leo, ac pulvinar quam tortor a velit. Praesent ultrices erat ante, in ultricies augue ultricies faucibus. Nam tellus nibh, ullamcorper at mattis non, rhoncus sed massa. Cras quis pulvinar eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-3'>
                    <img src="assets/images/training-image-03.jpg" alt="Third Class">
                    <h4>Third Training Class</h4>
                    <p>Fusce laoreet malesuada rhoncus. Donec ultricies diam tortor, id auctor neque posuere sit amet. Aliquam pharetra, augue vel cursus porta, nisi tortor vulputate sapien, id scelerisque felis magna id felis. Proin neque metus, pellentesque pharetra semper vel, accumsan a neque.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-4'>
                    <img src="assets/images/training-image-04.jpg" alt="Fourth Training">
                    <h4>Fourth Training Class</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices elementum odio ac tempus. Etiam eleifend orci lectus, eget venenatis ipsum commodo et.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    
    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2>Classes <em>Schedule</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="filters">
                        <ul class="schedule-filter">
                            <li class="active" data-tsfilter="monday">Monday</li>
                            <li data-tsfilter="tuesday">Tuesday</li>
                            <li data-tsfilter="wednesday">Wednesday</li>
                            <li data-tsfilter="thursday">Thursday</li>
                            <li data-tsfilter="friday">Friday</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1">
                    <div class="schedule-table filtering">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="day-time">Fitness Class</td>
                                    <td class="monday ts-item show" data-tsmeta="monday">10:00AM - 11:30AM</td>
                                    <td class="tuesday ts-item" data-tsmeta="tuesday">2:00PM - 3:30PM</td>
                                    <td>William G. Stewart</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Muscle Training</td>
                                    <td class="friday ts-item" data-tsmeta="friday">10:00AM - 11:30AM</td>
                                    <td class="thursday friday ts-item" data-tsmeta="thursday" data-tsmeta="friday">2:00PM - 3:30PM</td>
                                    <td>Paul D. Newman</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Body Building</td>
                                    <td class="tuesday ts-item" data-tsmeta="tuesday">10:00AM - 11:30AM</td>
                                    <td class="monday ts-item show" data-tsmeta="monday">2:00PM - 3:30PM</td>
                                    <td>Boyd C. Harris</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Yoga Training Class</td>
                                    <td class="wednesday ts-item" data-tsmeta="wednesday">10:00AM - 11:30AM</td>
                                    <td class="friday ts-item" data-tsmeta="friday">2:00PM - 3:30PM</td>
                                    <td>Hector T. Daigle</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Advanced Training</td>
                                    <td class="thursday ts-item" data-tsmeta="thursday">10:00AM - 11:30AM</td>
                                    <td class="wednesday ts-item" data-tsmeta="wednesday">2:00PM - 3:30PM</td>
                                    <td>Bret D. Bowers</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Expert <em>Trainers</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/first-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Strength Trainer</span>
                            <h4>Bret D. Bowers</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/second-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Muscle Trainer</span>
                            <h4>Hector T. Daigl</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="assets/images/third-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Power Trainer</span>
                            <h4>Paul D. Newman</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
<!--                      <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1038.6023649280282!2d36.25304582831649!3d51.74717905244244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f03ffd277da53%3A0xffd843789f41e930!2z0KTQuNGC0L3QtdGBINC60LvRg9CxICLQotGA0Lgg0J7QutC10LDQvdCwIg!5e0!3m2!1sru!2sru!4v1687171286634!5m2!1sru!2sru" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </footer>

    <!--    ***** Модальное окно авторизации/регистрации *****-->
    <div class="modal fade" id="modalAuthentication" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form id="auth" novalidate ng-submit="authentications()">

                    <div class="modal-header">
                        <h5 class="modal-title">{{modalStatus}}</h5>
                    </div>

                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="username">Логин</label>
                            <input class="form-control" type="text" ng-model="auth.username" id="username">
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Пароль</label>
                            <input class="form-control" type="text" ng-model="auth.password" id="password">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-5">
                            <button class="btn btn-primary" ng-click="registrations()" type="button" >Регистрация</button>
                        </div>
                        <div class="col-7">
                            <button id="authRes" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <!--                        <button class="btn btn-success" type="submit" data-bs-dismiss="modal">Авторизация</button>-->
                            <button id="authOk" class="btn btn-success" type="submit" >Авторизация</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    </div>
  </body>
</html>